<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <add key="SSOPassport" value="http://localhost:28387/" />
    <add key="SSOAppKey" value=""/>
    <add key="SSOAppSecret" value=""/>
    <add key="RedisServer" value="127.0.0.1:6379,password=password,ConnectTimeout=10000" />
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
